<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ressources favorites  - AMU Connect</title>

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    <link rel="stylesheet" href="{{ url_for('static', filename='CSS-PRINCIPAL/resources-fav.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS-PRINCIPAL/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS-PRINCIPAL/footer.css') }}">

    <script src="{{ url_for('static', filename='JAVASCRIPT-PRINCIPAL/header.js') }}" defer></script>
    <script src="{{ url_for('static', filename='JAVASCRIPT-PRINCIPAL/event.js') }}" defer></script>
    <script src="{{ url_for('static', filename='JAVASCRIPT-PRINCIPAL/footer.js') }}" defer></script>
    <script src="{{ url_for('static', filename='JAVASCRIPT-PRINCIPAL/favoris.js') }}" defer></script>
</head>
<body>

    <div id="header"></div>

    <main class="resources-page">
    <div class="container">

        <h1 class="favorites-title"> Mes ressources favorites</h1>

        <section class="cards">

    {% if resources %}
        {% for resource in resources %}

            <article class="card">

                <div class="card-top">
                    <div class="card-icon icon-blue">
                        <i class="fa-solid fa-file-lines"></i>
                    </div>

                    <span class="mini-tag blue">
                        {{ resource["resource_type"] }}
                    </span>
                </div>

                <h2 class="card-title">
                    {{ resource["title"] }}
                </h2>

                <p class="card-text">
                    {{ resource["description"] if resource["description"] else "Pas de description" }}
                </p>

                <p class="card-text">
                    Partagé par {{ resource["prenom"] }} {{ resource["nom"] }}
                </p>

                <div class="meta-line">
                    <span class="tag tag-gray">{{ resource["target_year"] }}</span>
                    <span class="tag tag-blue">{{ resource["subject"] }}</span>
                </div>

                <div class="card-bottom">
                    <a 
                        href="{{ url_for('resources.uploaded_file', filename=resource['file_path'].split('/')[-1]) }}" 
                        class="download-btn"
                    >
                        <i class="fa-solid fa-download"></i>
                        Télécharger
                    </a>
                </div>

            </article>

        {% endfor %}

    {% else %}
            <article class="card">
            <h2 class="card-title">Aucune ressource favorite</h2>
                <p class="card-text">
                Vous n’avez encore ajouté aucune ressource en favori.
            </p>
            </article>
    {% endif %}

        </section>

    </div>
</main>


    <div id="footer"></div>

</body>
</html>